:root {
    --fondo: #fff;
    --fondo_base: #217a20;
    --nav: #8457a8;
    --titulo: #642a73;
    --comentarios: #8457a8;
    --mensaje: #4d0686;
    --texto: #fff;
    --sombra: #070707;
    --fondo_footer: #414141;
    --titulo_footer: #fff;
    --adorno_footer: #af20d3;
    --icono_footer: #ccc;
    --copyright: #9e9797;
}