*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
}

.datos_curiosos{
    padding: 60px 0;
    width: 60%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

nav{
    text-align: right;
    padding: 30px 30px 0 0;
}

nav>a{
    color: black;
    font-weight: 1000;
    text-decoration: none;
    margin-right: 10px;
}

nav>a:hover{
    text-decoration: underline overline;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
}

.imagen{
    width: 25%;
}

.contenido{
    width: 60%;
    text-align: justify;
}

.logo{
    width: 80px;
}
