* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 50%;
}

body {
    background: var(--fondo_base);
    font-family: 'Roboto Slab', serif;
}

.logo {
    height: 90px;
    width: 90px;
}

.nav .opciones{
    float: right;
    margin-right: 20px;
}

nav ul {
}
.nav .opciones .opcion{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li {
}

.nav .opciones .opcion .ab{
    text-decoration: none;
    color: var(--texto);
    font-size: 20px;
    padding: 5px;
}
nav ul li a {
}

.opcion .ab:hover, 
.activa{
    text-decoration: underline 3px var(--texto);
    background: var(--nav);
    border-radius: 10px;
    font-size: 22px;
    transition: 0.5s;
}
li a:hover,
.activa {
}

.nav {
    text-align: right;
    padding: 30px 30px 0 0;
}

.nav>.ab {
    font-weight: 1000;
    text-decoration: none;
    margin-right: 10px;
}

.datos_curiosos {
    background: var(--fondo);
    padding: 60px 0;
    width: 60%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: var(--titulo);
    font-size: 40px;
    text-align: center;
    padding: 10px 0;
}


.contenedor {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 6px 0 var(--sombra);
}

.imagen {
    width: 250px;
    height: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contenido {
    width: 450px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comentarios_expertos {
    background: var(--comentarios);
    padding-bottom: 30px;
}

.expertos {
    display: flex;
    justify-content: space-evenly;
}

.expertos .mensajes {
    background: var(--mensaje);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 var(--sombra);
}

.expertos .mensajes>.mensaje {
    width: 60%;
    color: var(--texto);
}

.expertos .mensajes>.mensaje p {
    font-weight: 300;
    padding-top: 5px;
}

@media screen and (max-width: 800px) {
    header {
        background-position: center;
        padding: 0 0;
    }

    .nav {
        text-align: center;
        padding: 30px 30px 0 0;
    }

    .contenedor {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contenido {
        padding:0 10px;
        width: auto;
    }

    .expertos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .expertos .mensajes {
        width: 90%;
    }

    .expertos .mensajes:first-child {
        margin-bottom: 30px;
    }

    
}